## Variables and Data Types

Create the following variables and print their values and types:

```python
x = 10
y = "Python"
z = 3.5
```

In [1]:
x = 10
y = "Python"
z = 3.5

print(x, type(x))
print(y, type(y))
print(z, type(z))

10 <class 'int'>
Python <class 'str'>
3.5 <class 'float'>

## Variable Reassignment

Assign the value 5 to a variable `a`.  
Reassign the string `"five"` to `a`.  
Print `a`.  
Explain what happened.

In [2]:
a = 5
a = "five"
print(a)

five

## Casting Values

Create these variables:

```python
x = str(9)
y = int("7")
z = float("4.2")
```

Print each variableâ€™s value and type.

In [3]:
x = str(9)
y = int("7")
z = float("4.2")

print(x, type(x))
print(y, type(y))
print(z, type(z))

9 <class 'str'>
7 <class 'int'>
4.2 <class 'float'>

## Variable Name

Which of the following are valid variable names in Python? (Write Valid or Invalid)

- `my_var`  
- `2cool`  
- `userName`  
- `class`  
- `_total`

| Variable Name | Validity         |
|---------------|------------------|
| my_var        | Valid            |
| 2cool         | Invalid          |
| userName      | Valid            |
| class         | Invalid (keyword)|
| _total        | Valid            |

## Multi-variable Assignment

Assign `"apple"`, `"banana"`, and `"cherry"` to three variables in one line. Print each variable.

In [4]:
a, b, c = "apple", "banana", "cherry"
print(a)
print(b)
print(c)

apple
banana
cherry

Use this string for the following Questions:

```python
msg = " Hello, Python! "
```

## Remove whitespace

Print the string without leading or trailing spaces.

In [6]:
msg = " Hello, Python! "
print(msg.strip())

Hello, Python!

## Convert case

Print the string in:
- All uppercase
- All lowercase

In [7]:
msg = " Hello, Python! "
print(msg.upper())
print(msg.lower())

 HELLO, PYTHON!
 hello, python!

## Replace

Replace `"Python"` with `"World"`.

In [8]:
msg = " Hello, Python! "
print(msg.replace("Python", "World"))

 Hello, World!

## Slicing

- Print `"Hello"` using slicing.  
- Print `"Python"` using slicing.  
- Print `"llo"` using slicing.  
- Print `"hon"` using negative indexing.

In [27]:
msg = " Hello, Python! "
msg = msg.strip()

print(msg[0:5])       # "Hello"
print(msg[7:13])      # "Python"
print(msg[2:5])       # "llo"
print(msg[-4:-1])       # "hon"

Hello
Python
llo
hon

## String length

Print the number of characters in the trimmed string.

In [24]:
msg = " Hello, Python! "
print(len(msg.strip()))

14

## String Concatenation

Create two variables:  
```python
first = "Good"
second = "Morning"
```
Combine them into `"Good Morning"` using string concatenation.

In [28]:
first = "Good"
second = "Morning"
print(first + " " + second)

Good Morning

## Multiline String

Assign a multiline string using triple quotes to a variable and print it.

In [29]:
text = """This is a
multiline string
example."""
print(text)

This is a
multiline string
example.

##  String Formatting

Given:
```python
name = "Alice"
age = 30
```
Print: `"My name is Alice and I am 30 years old."` using:
- The `+` operator  
- The `format()` method  
- An f-string

In [31]:
name = "Alice"
age = 30

print("My name is " + name + " and I am " + str(age) + " years old.")
print("My name is {} and I am {} years old.".format(name, age))
print(f"My name is {name} and I am {age} years old.")

My name is Alice and I am 30 years old.
My name is Alice and I am 30 years old.
My name is Alice and I am 30 years old.

## String Indexing

Print the first and last character of the string `"Hello"`.

In [34]:
s = "Hello"
print(s[0])   # First character
print(s[-1])  # Last character

H
o