## Variables and Data Types

Create the following variables and print their values and types:

```python
x = 10
y = "Python"
z = 3.5
```

## Variable Reassignment

Assign the value 5 to a variable `a`.  
Reassign the string `"five"` to `a`.  
Print `a`.  
Explain what happened.

## Casting Values

Create these variables:

```python
x = str(9)
y = int("7")
z = float("4.2")
```

Print each variableâ€™s value and type.

## Variable Name

Which of the following are valid variable names in Python? (Write Valid or Invalid)

- `my_var`  
- `2cool`  
- `userName`  
- `class`  
- `_total`

## Multi-variable Assignment

Assign `"apple"`, `"banana"`, and `"cherry"` to three variables in one line. Print each variable.

Use this string for the following Questions:

```python
msg = " Hello, Python! "
```

## Remove whitespace

Print the string without leading or trailing spaces.

## Convert case

Print the string in:
- All uppercase
- All lowercase

## Replace

Replace `"Python"` with `"World"`.

## Slicing

- Print `"Hello"` using slicing.  
- Print `"Python"` using slicing.  
- Print `"llo"` using slicing.  
- Print `"hon"` using negative indexing.

## String length

Print the number of characters in the trimmed string.

## String Concatenation

Create two variables:  
```python
first = "Good"
second = "Morning"
```
Combine them into `"Good Morning"` using string concatenation.

## Multiline String

Assign a multiline string using triple quotes to a variable and print it.

##  String Formatting

Given:
```python
name = "Alice"
age = 30
```
Print: `"My name is Alice and I am 30 years old."` using:
- The `+` operator  
- The `format()` method  
- An f-string

## String Indexing

Print the first and last character of the string `"Hello"`.